/* src/App.css */
.App {
  @apply text-center; /* Tailwind class for text alignment */
}

.App-logo {
  @apply h-40 pointer-events-none; /* Tailwind classes for height and pointer-events */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  @apply flex flex-col items-center justify-center text-white; /* Tailwind flex utilities and text color */
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
